<% include header.html %>
<form action="/edit" method="post" enctype="multipart/form-data" class="box login">
	<label>Name</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Name" name="name" value ="<%= user.user.name %>" required>
	<label>Email</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" value ="<%= user.user.email %>" readonly>
	  <label>Pager</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Pager" name="pager" value ="<%= user.user.pager %>" required>

	<footer>
	  <input type="submit" class="btnLogin" value="Update" tabindex="1">
	</footer>

</form>

</body>
</html>
