<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VUMC Login Form</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/structure.css">


</head>
<body>

<form class="box login">
	<fieldset class="boxBody">

		<label>Welcome to VUMC's hand washing application. <a href="/login"  tabindex="7" ><strong>Click here for Login Page. </a>
		</label>
		
</fieldset>
	
</form>
</body>
</html>
