<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VUMC Hand Washing</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/structure.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="../assets/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>
  
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/about">VUMC</a>
    </div>
    <div id="header-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/user">Profile<span class="sr-only">(current)</span></a></li>
        <li><a href="/Location">Locations</a></li>
        <li><a href="/observation">Observations</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user">Signed in as <%= user.user.name %></a></li>
      </ul>
    </div>
      
      
  </div>
</nav>

<div class="container">
		<fieldset class="col">
			<div >
        
        <div class="list-group col-sm-6">
        <a class="list-group-item"><label><strong>Name:</strong> <%= user.user.name %></label></a>
        <a class="list-group-item"><label><strong>Email:</strong> <%= user.user.email %></label></a>
        <a class="list-group-item"><label><strong>Pager:</strong> <%= user.user.pager %></label></a>
        <a class="list-group-item"><label><strong>Number of Log Entries:</strong> <%= user.user.entries %></label></a>
        <a class="list-group-item"><label><strong>Max Log Entries:</strong> <%= user.user.maxEntries %></label></a>
        <a class="list-group-item"><label><strong>Look Back Time:</strong> <%= user.user.lookback %></label></a>
        <a class="list-group-item"><label><strong>Last Location:</strong> <%= user.user.lastloc %></label></a>
      </div>
			
	
		
	</fieldset>
    <div class="span4">
				<label><a href="/edit"><strong>Update Profile</strong></a></label>
		</div>
</div>
      
</body>
</html>
