<!DOCTYPE html>
<html lang="en">
<head>
  <title>Location 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Location</h1>
  <h3 title="Please select your current floor:">Floor:</h3>
  
  <div class="list-group col-sm-3">
    <a class="list-group-item"> Floor 1</a>
    <a class="list-group-item"> Floor 2</a>
    <a class="list-group-item"> Floor 3</a>
    <a class="list-group-item"> Floor 4</a>
    <a class="list-group-item"> Floor 5</a>
    <a class="list-group-item"> Floor 6</a> 
  </div>
  
</div>

<div class="container">
  <ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
  </ul>
</div>

</body>
</html>
